*{
 box-sizing: border-box;
}
header{
    height: 150px;
    background-color: dodgerblue;
    background-image: url('../img/pattern.png');
    margin: -10px;
    padding:0px;
}
.logo{
    width: 250px;
    margin-top: 75px;
    margin-left: 10px;
}
h1{
    font-size: 3em;
    margin-bottom: 0;
}
.grigio{
    color:gray;
    margin-top: -10;
}
.blu-p{
    color:dodgerblue;
}
p{
    margin: auto;
}
.description{
    font-size: 10px;
}
.paragrafo-lista{
    margin-top: 15px;
}
thead{
    background-color: dodgerblue;
    color:white;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
th, td{
    text-align: left;
    width: 200px;
}
.light-blue-background{
    background-color: lightblue;
}